body {
    background-image: url('./assets/background.jpg');
}

.container{
    justify-content: center;
    display: grid;
}

.base-selector{
    padding: 1%;
    background-color: white;
    color: #0055d4;
    border-color: #0055d4;
    border: none;
    width: 150px;
    height: 50px;
    transition: 0.3s;
}
.base-selector:hover {
    background-color: #68b6ff;
}

#search-queries {
    display: flex;
    background-color: white;
    padding-top: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
    margin-top: 10px;
    border-radius: 5px;
}

#search-queries input {
    width: 28%;
}

.search-param {
    height: 2rem;
}

#cards-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 25px;
    border-style: dashed;
    border-color: hsla(180, 100%, 25%, 0.5);
    border-width: 2px;
    border-radius: 3px;
}

.card {
    height: 225px;
}

.card-content {
    text-align: left;
}

.card .card-action {
    padding: 12px 24px;
}

.card .card-title{
    font-weight: 500;
    text-align: center;
    font-size: 21px;
    color: #fffc8b;
}

#pj-form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pf-form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pj-view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pf-view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

.form-body {
    background: white;
}

#cpf-pego{
    list-style: square;
}

.validate {
    padding-left: 10px;
}

.parted-input {
    width: 100px;
}

#greetings {
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

#login-form{
    position: fixed;
    top: 20%;
    left: 18%;
}