body {
    background-image: url('./assets/background.jpg');
}

.container{
    justify-content: center;
    display: grid;
}

.base-selector{
    padding: 1%;
    background-color: white;
    color: #0055d4;
    border-color: #0055d4;
    border: none;
    width: 150px;
    height: 50px;
    transition: 0.3s;
}
.base-selector:hover {
    background-color: #68b6ff;
}

#search-queries {
    display: flex;
    background-color: white;
    padding-top: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
}

#search-queries input {
    width: 28%;
}

.search-param {
    height: 2rem;
}

#cards-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 20px;
    border-style: dashed;
    border-color: hsla(180, 100%, 25%, 0.5);
    border-width: 2px;
    border-radius: 3px;
    width: 100%;
    height: 600px;
}

.card {
    height: 260px;
}

.card-content {
    text-align: left;
    padding: 17px;
}

.card .card-action {
    padding: 12px 24px;
}

.card .card-title{
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    color: #fffc8b;
}

.card .card-content .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: -1px;
}

.card .card-content {
    padding: 15px 10px 16px 9px;
}

.card .card-action {
    margin-top: 30px;
}

#pj-form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pf-form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pj-view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

#pf-view {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-bottom: 10px;
}

.form-body {
    background: white;
}

#cpf-pego{
    list-style: square;
}

.validate {
    padding-left: 10px;
}

.parted-input {
    width: 100px;
}

#greetings {
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.5);
}

#login-form{
    margin-top: 10%;
}

@media(max-width: 1567px){
    .card .card-title{
        font-weight: 500;
        text-align: center;
        font-size: 14px;
        color: #fffc8b;
    }
    .card .card-content{
        font-size: 12px;
    }
    #search-queries{
        display:grid;
        grid-template-columns: 12fr;
    }
}

@media(max-width: 1740px){
    .card .card-title{
        font-weight: 500;
        text-align: center;
        font-size: 14px;
        color: #fffc8b;
    }
    .card .card-content{
        font-size: 14px;
    }
    #search-queries{
        display:grid;
        grid-template-columns: 12fr;
    }
    #cards-container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        padding: 25px;
        border-style: dashed;
        border-color: hsla(180, 100%, 25%, 0.5);
        border-width: 2px;
        border-radius: 3px;
        width: 100%;
    }

}

@media(max-width: 1409px){
    #cards-container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 25px;
        border-style: dashed;
        border-color: hsla(180, 100%, 25%, 0.5);
        border-width: 2px;
        border-radius: 3px;
        width: 100%;
    }
}

@media(max-width: 1366px){
    .card .card-title{
        font-weight: 500;
        text-align: center;
        font-size: 12px;
        color: #fffc8b;
    }
    .card .card-content{
        font-size: 12px;
        padding: 20px;
    }
    #search-queries{
        display:grid;
        grid-template-columns: 12fr;
    }
    #cards-container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 25px;
        border-style: dashed;
        border-color: hsla(180, 100%, 25%, 0.5);
        border-width: 2px;
        border-radius: 3px;
        width: 100%;
    }

}


@media(max-width: 660px){
    .card .card-title{
        font-weight: 500;
        text-align: center;
        font-size: 14px;
        color: #fffc8b;
    }
    .card .card-content{
        font-size: 10px;
    }
    #search-queries{
        display:grid;
        grid-template-columns: 12fr;
    }
    #cards-container {
        margin-top: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding: 25px;
        border-style: dashed;
        border-color: hsla(180, 100%, 25%, 0.5);
        border-width: 2px;
        border-radius: 3px;
        width: 100%;
    }

}

@media(max-height: 737px){
    .card .card-title {
        font-weight: 500;
        text-align: center;
        font-size: 17px;
        color: #fffc8b;
    }
}






#modal-email-PF{
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    top: 15%;
    left: 30%;
    background-color: white;
    border: solid 1px teal;
    border-radius: 5px;
}

#modal-email-PJ{
    width: 40vw;
    height: 50vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0, 0.5);
    z-index: 2000;
    padding-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    top: 15%;
    left: 30%;
    background-color: white;
    border: solid 1px teal;
    border-radius: 5px;
}

#login-error{
    background-color: red;
    border: solid red 1px;
    margin-bottom: 10px;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

@media print {
    #modal-visualizacao-PJ {
      visibility: visible;
    }
    #modal-visualizacao-PJ, #modal-visualizacao-PJ * {
      visibility: visible;
    }
    #printable {
      position: relative;
      left: 0;
      top: 25px;
    }
  }
